*{
	text-align:center;
	font-style:bold;
}


/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#nav{
	line-height:50px;
	height:100%;
	max-width:100%;
	color:white;
	margin:5px 0px;
	padding:0px 10px;
	text-align:right;
  font-color:black;
	font-size:30px;
}

#nav a{
  color:black !important;
  text-decoration: none;

}
#nav a:nth-child(1) {
  width: 10%;
  border-right: 2px solid lightgray;
}
#nav a:nth-child(2) {
  width: 20%;
  border-right: 2px solid lightgray;
}
#nav a:nth-child(3) {
  width: 20%;
  border-right: 2px solid lightgray;
}
#nav a:nth-child(4) {
  width: 20%;
  border-right: 2px solid lightgray;
}
#nav a:nth-child(5) {
  width: 15%;
  border-right: 2px solid lightgray;
}
#nav a:nth-child(6) {
  width: 15%;
}
#nav a:hover{
	color:white;
}


/* Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img{
	width:400px;
	height:400px;
	margin:60px;
	display:inline;
	vertical-align:middle;
  position: relative;
  left:20%;
  top:50%;
  float:left;
}

/* table
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table{ 
  margin: 30px auto;  
  width: 80%;
  overflow: scroll;
}

table tr th{ 
  background: silver;
  color: #FFF;
  padding: 5px 5px;
  text-align: center;
  font-size: 25px;
}
  
table tr td{ 
  background: whitesmoke;
  color: #47433F;
  border-top: 1px solid #FFF;
  text-align: center;
  padding: 5px 5px;
  font-size: 20px;
}

table .title{
  width: 60%;
}
table .title:hover{
  background-color: #EFEFEF;
}

table .title a{
  text-decoration: none;
  color:inherit;
}

/* For history & skill's head section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1{
  background-color: lightgray !important;
  height:60px;
  text-align: center;
  margin-top:10px !important;
}



/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

button{
  width:100px;
  height:50px;
  text-align: center;
}

.button-container{
  margin: 5px auto;
  text-align: center;
}
.button-container a{
  text-decoration: none;
  border:0;
  outline:0;
}

.button-container button {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-container button:hover{
  background-color: #B3B3B3;
  cursor: pointer;
}

/* Alticle
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#article{
  margin: 20px auto;
  width:80%;
}
#article label{
  display: block;
  font-size:25px;
  margin-bottom:5px;
}
#article input{
  margin-bottom:5px;
  font-size:25px;
  width:80%;
}
#article textarea{
  margin-bottom:5px;
  font-size:15px;
  width:80%;
  height:100px;
}

select {
  width: 150px;
  height: 30px;
  margin-bottom:5px;
  padding-left: 10px;
  font-size: 20px;
  color: #3B3B3B;
  border: 1px solid #3B3B3B;
  border-radius: 3px;
}
.page_title{
  text-align: center;
  font-size:30px;
  margin-bottom:30px;
}

.contact{
  border:8px solid lightgray;
  width:50%;
  height:50%;
  position:absolute;
  left:25%;
  font-size:20px;
}

.introduce{
  font-size:20px;
}

/* For read.php
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#article{
  padding-top:50px;
}

#post{
  display: block;
  font-size:20px;
  margin-bottom:5px;
  padding: 10px;
  width:100%;
  height:300px;
  border:2px solid #3B3B3B;
  padding-top:50px;
}